* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin:0 15%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #000;
}
.text-blue {
    color: rgb(75, 75, 247);
}
.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-lowercase {
    text-transform: lowercase;
}
header {
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/81/11/24/1000_F_281112423_xCld5qQvdbLm7ZkdKFqINyhF4mi9eTnR.jpg");
    background-position: center;
    background-size: cover;
    background-color: #5f5f5f;
    background-blend-mode: multiply;
    height: 80vh;
}
nav {
    padding: 2rem 0;
}
nav ul li {
    display: inline-block;
    padding: 0 1rem;
}
nav ul li a {
    transition: .25s;
}
nav ul li a:hover {
    color: rgb(75, 75, 247);
}

a {
    text-decoration:none;
}
.logo {
    font-size: 22px;
    font-weight: bold;
}
.items {
    padding: 6rem 25%;
}
.items h1 {
    font-size: 38px;
    padding-bottom: 1rem;
}
.btn {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 15px;
    margin: 0 .5rem;
    transition: .2s;
}
.btn:hover {
    background-color: blue;
    border-color: blue;
}
.section-items {
    width: 33%;
    padding: 2rem 1rem;
}
.section-items i {
    font-size: 35px;
    padding-bottom: 1.5rem;
}
.section-items h4 {
    font-size: 22px;
    padding: 1rem 0;
}
.section-items p {
    padding: .75rem 0;
}
.section-items a {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    transition: .2s;
    cursor: pointer;
}
.section-items a:hover {
    color: rgb(85, 37, 216);
}
.section-items a i {
    font-size: 16px;
    text-align: center;
    padding: 0 .5rem;
}
